<div>
  <h1>Products</h1>
  <form id="form-products">
    <input id="input-product" type="text" required placeholder="Ingrese id de producto">
    <input type="submit" value="Enviar">
  
  </form>
</div>

<div id="log-products">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>